header {
    position: relative;
    background-image: linear-gradient(config('colors.blue-dark'), config('colors.blue-light'));
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

header svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}

.waves > use {
    animation: waveAround 60s linear infinite;
  }
  .waves > use:nth-child(1) {
    fill: config('colors.blue-light');
    animation-delay: -2s;
  }
  .waves > use:nth-child(2) {
    fill: config('colors.blue-lighter');
    animation-delay: -2s;
    animation-duration: 25s;
  }
  .waves > use:nth-child(3) {
    fill: config('colors.blue-lightest');
    animation-delay: -4s;
    animation-duration: 15s;
  }
  
  @-webkit-keyframes waveAround {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
  }
  
  @keyframes waveAround {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
  }