<header class="h-full bg-bottom bg-repeat mt-24 md:mt-16">
    <div class="flex container items-center">
        <div class="container flex flex-wrap items-center pt-8">
            <div class="w-full lg:w-1/2 pb-4 lg:pr-4 z-10">
                <h1 class="text-indigo-darker text-3xl sm:text-4xl font-semibold leading-none mb-4">
                    Hi! My name is Zachary Andrew Carter.
                </h1>
                <h2 class="text-lg sm:text-xl text-indog-darker font-normal leading-normal mb-2">
                    Welcome to my personal website, and thank you for visiting!
                    I'm a software developer, sports fan, animal lover, and gamer.
                    I enjoy working on <strong>Free Open Source Software</strong> projects
                    in my spare time - especially those related to <strong>Video Games</strong>
                    and <strong>Game Engines</strong>. I also develop <strong>Web Applications</strong>.
                </h2>
                <div class="flex flex-col sm:flex-row justify-center lg:justify-start pt-8">
                    <a href="#" class="inline-block text-sm px-4 py-2 leading-none rounded bg-indigo-darker text-indigo-lightest hover:bg-indigo mt-4 lg:mt-0 lg:mr-2">Contact Me!</a>
                    <a href="#" class="inline-block text-sm px-4 py-2 leading-none rounded bg-grey-light text-indigo-darkest hover:bg-blue-lightest mt-4 lg:mt-0">Hire Me!</a>
                </div>
            </div>
            <div class="w-full lg:w-1/2 pb-4 lg:pl-4 z-10 text-center">
                <img title="Me!" src="img/portrait.png" alt="Zachary Carter" class="rounded shadow" lazy="loaded">
            </div>
        </div>
    </div>
    <svg id="waves" version="1.1" viewBox="0 24 150 28" preserveAspectRatio="none">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="waves">
            <use xlink:href="#gentle-wave" x="50" y="0" class="wave"/>
            <use xlink:href="#gentle-wave" x="50" y="3" class="wave"/>
            <use xlink:href="#gentle-wave" x="50" y="6" class="wave"/>  
        </g>
    </svg>
</header>