<section id="projects" class="h-full bg-blue-darkest pt-6 z-10 bg-bottom bg-repeat">
    <div class="container mt-4 mb-8">
        <div class="text-center text-yellow-dark mb-8">
            <h2 class="text-3xl sm:text-3xl font-semibold leading-none mb-4">Projects</h2>
        </div>
        <div class="flex flex-wrap items-center justify-center text-center lg:text-left">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                    <p class="text-grey-darker text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                        perferendis eaque, exercitationem praesentium nihil.
                    </p>
                </div>
                <div class="px-6 py-4">
                    <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#photography</span>
                    <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#travel</span>
                    <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#winter</span>
                </div>
            </div>
        </div>
    </div>
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" class="border-bg">
        <polygon class="svg--sm" fill="#3490DC" points="0,0 30,100 65,21 90,100 100,75 100,100 0,100" />
        <polygon class="svg--lg" fill="#3490DC" points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100" />
    </svg>
</section>